{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="col-md-12 col-xs-12">
        <div class="jumbotron">
                <p class="home-heading">MEET OUR</p>
              <p class="home-heading">BEST SELLERS</p>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 col-xs-12">
            <img src="media/images/ring1.jpg" alt="ring" width="300">
        </div>
        
        <div class="col-md-4 col-xs-12">
            <img src="media/images/earing1.jpg" alt="earing" width="300">
        </div>
        
        <div class="col-md-4 col-xs-12">
            <img src="media/images/ringwhite1.jpg" alt="ringwhite" width="300">
        </div>
    </div>    
    <br>
    
    <div class="col-md-12 col-xs-12">
        <p class="home-heading-2">Customer Satisfaction Guaranteed</p>
        
    </div> 
    <br>
     <div class="col-md-12 col-xs-12">
        <div class="col-xs-12 col-md-6">
            <p class="home-heading-2"><i class="fa fa-truck" aria-hidden="true"></i> Worldwide Delivery</p>
        </div>
        
        <div class="col-xs-12 col-md-6">
            <p class="home-heading-2"><i class="fa fa-undo" aria-hidden="true"></i> 60 Day Return</p>
        </div>
    </div>
    
    
    <div class="col-md-12 col-xs-12">
        <div class="jumbotron">
                <p class="home-heading">THE CROWNING JEWELS</p>
              <p class="home-heading">Our diamond fine jewelry collection offers hand-crafted pieces of unforgetable luxury that are perfect for any occasion.</p>
        </div>
    </div> 
</div>
<br>

{% endblock %}