{% extends 'base.html' %}

{% block content %}

<h1>ABOUT US</h1>

<h4>We are designers whose passion for creating fine and unique jewellery helped to establish a recognizable company with an extensive collection of jewellery for women. We have been designing and manufacturing unique, high-end jewellery and offering it directly to the consumer.
 
 Jewellery is located in the midst of the NYC and ships fine jewellery worldwide. We specialize in fancy-colored diamonds and carry products that feature classic, as well as one-of-a-kind unique designs. Because we are manufacturers, we are able to keep our prices lower than most local and online jewellery stores by eliminating the middle men mark-up.
 
 We strive for a complete customer satisfaction. Our jewellery is meticulously crafted by our experienced jewelers with attention to every little detail. </h4>
 
<h1>SHIPPING & RETURNS</h1>

<h2>60-Day Returns - No Questions Asked</h2>

<h4>Jewelry is committed to your satisfaction.
We are confident that your fine jewellery item will exceed your expectations and delight you with its beauty. 
However, if you decide to return your purchase, we will gladly refund or exchange any unworn item within 60 days - no questions asked!

To qualify for a refund an item must be in its original condition, free of obvious wear and tear. 
We will need the original Certificate of Authenticity and/or any other type of certification that may have been sent with the product.  
Items that have been damaged, altered, engraved or sized (by a jeweler other than Jewelry), and custom-made pieces (jewelry not listed on our website) will not be accepted for return.

Securely package and insure your product. Any shipping company may be used. For security reasons, please do not indicate the contents of the package on the outside of the shipping box or the full name of our company. 
Please have your address and name clearly printed on the box. Our return address is:<h4>
    
<p class="address">Jewellery
    55 West 47th street
    Suite 1035
    New York, NY 10036
    USA</p>

<h4>Once your returned item is inspected and accepted, your refund will be issued within 2 business days. 
Refunds will be made in the original form of payment.</h4>



<h2>SHIPPING</h2>

<h4>All orders are shipped for free within USA including Alaska and Hawaii. The shipping can be upgraded to an Overnight service for an additional nominal fee.

Earrings and necklaces are usually shipped within 1-2 business days, rings take about 1-5 days to manufacture/size.

International orders take about 3-6 business days to deliver anywhere in the world. International shipping is automatically calculated prior to submitting your payment information. 
We will email the tracking number as soon as the shipment is processed.
International shipments may be subject to customs/imports taxes fees which are the buyer’s responsibility.

We do not ship to PO or APO box addresses. A signature will be required when the delivery occurs. If you need assistance with shipping or have any questions, please give us a call or email us and we will gladly assist.</h4>


{% endblock %}