{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":60,"column":0},"end":{"row":60,"column":16},"action":"remove","lines":["requests==2.22.0"],"id":2},{"start":{"row":59,"column":13},"end":{"row":60,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":736.3636474609375,"scrollleft":0,"selection":{"start":{"row":59,"column":13},"end":{"row":59,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":53,"state":"start","mode":"ace/mode/text"}},"timestamp":1574796310162,"hash":"c0f99c84e93bb77ee81076ec557b38f3c70de8ce"}