@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

form {
    width: 50%;
}

body {
    background-color: #DCE3CA; 
}

.block-content {
    min-height: 400px;
}

/*-------------navigation bars--------------*/


.navbar-inverse {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: 'Righteous', serif;
    font-size: 38px;
    padding-left: 20px;
    padding-top: 10px;
}

.navbar-default {
    display: flex;
}

.navbar-default .navbar-nav>li>a {
    padding-left: 30px; 
    padding-right: 30px;
}

/*------------products page-----------*/

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}


.row.row-flex {
    display: flex;
    margin-top: 30px;
    
}

.panel-default {
    border-color: transparent;
    padding: 10px;
}

.panel-body {
    margin: 5px;
}

.product-description {
    min-height: 40px;
}

/*-----------------footer------------------*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 150px;
    margin: 0;
    width: 100%;
}

.row-footer {
    width: 100%;
}

.contact {
    font-size: 20px;
    color: #fff;
    margin: 30px;
    text-align: center;
}


.button-to-top {
    text-align: right;
}

.button-to-top a {
    margin: 10px;
}


.copyright {
    margin: 10px;
    text-align: right;
}


.info-item .key p,
.info-item .value p {
    font-size: 20px;
    margin: 0;
    padding-left: 30px;
}

.info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 35px;
    
}

.info-item .value {
    padding-top: 10px;
    width: 60%;
}

.social-links {
    padding-left: 30px;
}

.heading {
    padding-top: 35px;
    padding-left: 50px;
    font-size: 20px;
}
