@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

form {
    width: 50%;
}

body {
    background-color: #DCE3CA; 
}

.block-content {
    min-height: 400px;
}

/*-------------navigation bars--------------*/


.navbar-inverse {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: 'Righteous', serif;
    font-size: 38px;
    padding-left: 20px;
    padding-top: 10px;
}

.navbar-default {
    display: flex;
}

.navbar-default .navbar-nav>li>a {
    padding-left: 30px; 
    padding-right: 30px;
}

/*------------products page-----------*/

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}


.row.row-flex {
    display: flex;
    margin-top: 30px;
    
}

.panel-default {
    border-color: transparent;
    padding: 10px;
}

.panel-body {
    margin: 5px;
}

.product-description {
    min-height: 40px;
}