{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Store</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" /> 
    </head>
    <body>
       <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="/"><i class="fa fa-diamond"></i>Jewellery</a>
            </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
             {% if user.is_authenticated %}
                <li class="active"><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profile <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                <li><a href="{% url 'get_posts' %}"><i class="fa fa-commenting-o"></i> Blog</a></li>
            {% else %}
                <li><a href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
            {% endif %}
                <li>
                    <a href="{% url 'view_cart' %}">
                        <i class="fa fa-shopping-cart"></i> Cart
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                </li>
              </ul>
            <div class="search navbar-right">
            <form class="search-form" action="{% url 'search' %}" method="get">
                <input type="text" name="q"><button type="search">Search</button>
            </form>
        </div>
        </div>
        </div>
    </nav>
    
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class='nav navbar-nav'>
                    <li><a href="{% url 'product-filter' category='WhiteDiamondsRings' %}">White Diamond Rings</a></li>
                    <li><a href="{% url 'product-filter' category='ColouredDiamondsRings' %}">Coloured Diamond Rings</a></li>
                    <li><a href="{% url 'product-filter' category='Bracelets' %}">Bracelets</a></li>
                    <li><a href="{% url 'product-filter' category='Earings' %}">Earrings</a></li>
                    <li><a href="{% url 'product-filter' category='Necklaces' %}">Necklaces</a></li>
                    <li><a href="{% url 'product-filter' category='WeddingBands' %}">Wedding Bands</a></li>
                    <li><a href="{% url 'products' %}">All Jewelry</a></li>
                </ul>    
            </div>
    </nav>
        
    {% if messages %}
        <div class="messages">
    {% for message in messages %} {{ message }} {% endfor %}
        </div>
    {% endif %}
        
    <div class="container block-content">
        <div class='content-wrapper'>
            {% block content %} {% endblock %}
        </div>
    </div>
    <footer class="container-fluid">
        <div class="row row-footer">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="info-item">
                    <div class="key">
                        <p>CONTACT:</p>
                    </div>
                    <div class="value">
                        <p><i class="fa fa-phone" aria-hidden="true"></i>  (01) 35 828</p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="key">
                        <p class="address2">ADDRESS:</p>
                    </div>
                    <div class="value">
                        <p>23 West 41th street
                            Suite 1038
                            New York, NY 10036
                            USA
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
            
                 <div class="info-item">
                    <div class="key">
                        <p>INFORMATION:</p>
                    </div>
                    <div class="value">
                        <p><a href="{% url 'info' %}">About</a></p>
                        <p><a href="{% url 'info' %}">Shipping</a></p>
                        <p><a href="{% url 'info' %}">Returns</a></p>
                        <p><a href="{% url 'contact' %}">Contact Us</a></p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="key">
                        <p>SOCIAL:</p>
                    </div>
                    <div class="value list-inline social-links">
                        <li><a target='_blank' href='#'><i class='fa fa-facebook'></i></a></li>
                        <li><a target='_blank' href='#'><i class='fa fa-twitter'></i></a></li>
                        <li><a target='_blank' href='#'><i class='fa fa-instagram'></i></a></li>
                    </div>
                </div>
            </div>    
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="button-to-top">
                <a href="#" class="btn btn-success">Back to top</a>
            </div>
        </div>
        </div>
        <div class="row row-footer">
            <div class="col-sm-12 col-md-12 col-lg-12">
                 <p class="copyright">Copyright &copy; 2019 Aneta Kobylarz</p>
            </div>
        </div>
    </footer>
            
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
    
</body>
</html>
    
    